@import "./inrow_x_inlb_mixin.scss";


//### sintax info ### 
// @include cols_gutter([number: cols], [number: margin-left and margin-right]);

@include cols_gutter(12, 0.8); //row-x12g col [col-1 ... col-12]
//@include cols_gutter(24, 0.2);
@include cols_gutter(2, 0.8);  //row-x2g col [col-1, col-2]
//@include cols(12);

.full{ padding:0; margin:0; width:100%;
	text-align: justify;
	display: block; 
	text-justify: newspaper; 
	zoom:1; 
	text-align-last: justify; 
	position: relative;
}
.full .col{
		//display : inline;
		//zoom : 1;
		text-align: left;
		text-align-last: left;
		text-justify: left;
}
.full .col.text-right{
		text-align: right;
		text-align-last: right;
		text-justify: right;
}
.full:before{ width:100%; content: ''; display: block; }
.full:after { width: 100%;
		height: 0px;
		visibility: hidden;
		content: '';
		display: inline-block;
}
